<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All USERS</h2>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
    </tr>
    <tr th:each="user : ${allUsers}">



        <td th:text="${user.name}"/>
        <td th:text="${user.surname}"/>
        <td th:text="${user.department}"/>
        <td th:text="${user.salary}"/>
        <td> <a th:href="@{'/users/' + ${user.getId()} + '/updateInfo'}">
            <input type="submit" value="Edit"></a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{'/users/' + ${user.getId()}}" >
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>


</table>

<br><br>
<a href="users/addNewUser" class="button"><input type="submit" value="Add"></a>
</body>
</html>